<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header") %>
        <main class="default-landing-page">
            <!-- HERO -->
            <article>
                <header>
                    <h1>
                        About me.
                    </h1>
                    <h2>
                        Hero subheading
                    </h2>
                    <p>
                        Body text
                    </p>
                </header>
            </article>
            <article>
                <header>

                </header>
            </article>
            <article>
                <header>

                </header>
            </article>
        </main>
        <%- include("../partials/footer") %>
            <script src="/js/about.js"></script>
</body>

</html>