<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header") %>
        <main class="default-landing-page">
            <!-- HERO -->
            <article class="hero-about u-span-2">
                <header class="hero__title column-1">
                    <h1 class="hero__heading">
                        Contact
                    </h1>
                    <p class="hero__subheading">
                        If you’d like to connect, discuss opportunities, or continue a conversation around web
                        performance and experimentation, LinkedIn is the best place to reach me.
                    </p>
                    <div class="hero__cta">
                        <a class="hero__button hero__button--linkedin-blue font-weight-700 text-color--white"
                            href="https://www.linkedin.com/in/nolanyoung" target="_blank" rel="noopener noreferrer">
                            LinkedIn</a>
                        <a class="hero__button hero__button--secondary" href="/about">About</a>
                    </div>
                </header>
            </article>
        </main>
        <%- include("../partials/footer") %>

</body>

</html>