<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body>
    <%- include("../partials/header") %>
        <main class="default-landing-page">
            <!-- HERO -->
            <article class="hero-homepage u-span-2">
                <header class="hero__title">
                    <h1 class="hero__heading">
                        H1 HERO Primary Value Prop
                    </h1>
                    <p class="hero__subheading">
                        Supporting copy that explains the value, audience, or differentiator.
                    </p>
                </header>
            </article>

            <!-- MODULE 1 -->
            <article class="module--gradient-bg-aqua-moderate column-1 u-align-content-start">
                <header class="module__title">
                    <h2 class="module__heading">
                        H2 Header
                    </h2>
                     <p class="module__subheading">
                        Supporting copy
                    </p>
                </header>
            </article>
            <article class="module--gradient-bg-aqua-moderate column-2 u-align-content-start">
                <header class="u-flex-center">
                    <h2>
                        IMAGE
                    </h2>
                </header>
                <section class="u-flex-left">
                    <p>
                        MODULE 1 - IMAGE
                    </p>
                </section>
            </article>

            <!-- MODULE 2 -->
            <article class="module--bg-white u-span-2">
                <header class="module__title">
                    <h2 class="module__heading">
                        Companies I’ve driven impact for
                    </h2>
                </header>
            </article>
            <article class="module--bg-white u-flex-center u-span-2">
                <p>
                    Logo Scroll
                </p>
            </article>

            <!-- MODULE 3 -->
            <article class="module--gradient-bg-green-moderate column-1 u-align-content-start">
                <header class="u-flex-center">
                    <h2>
                        How this site is built
                    </h2>
                </header>
                <section class="u-flex-left">
                    <p>
                        Short technical explanation.
                    </p>
                </section>
            </article>
            <article class="module--gradient-bg-green-moderate column-2 u-align-content-start">
                <header class="u-flex-center">
                    <h2>
                        MODULE 3 TBD
                    </h2>
                </header>
                <section class="u-flex-left">
                    <p>
                        TBD
                    </p>
                </section>
            </article>

            <!-- MODULE 4 -->
            <article class="module--gradient-bg-purple-moderate column-1 u-align-content-start">
                <header class="u-flex-center">
                    <h2>
                        Frequently asked questions
                    </h2>
                </header>
                <section class="u-flex-left">
                    <p>
                        MODULE 4 Text P or H3?
                    </p>
                </section>
            </article>
            <article class="module--gradient-bg-purple-moderate column-2 u-align-content-start">
                <header class="u-flex-center">
                    <h2>
                        MODULE 4 TBD
                    </h2>
                </header>
                <section class="u-flex-left">
                    <p>
                        MODULE 4 TBD
                    </p>
                </section>
            </article>


        </main>
        <%- include("../partials/footer") %>

</body>


</html>