<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>

    <body>
        <%- include("../partials/header") %>
            <main class="default-landing-page">
                <!-- HERO -->
                <article class="hero-homepage">
                    <header class="hero__title">
                        <h1>H1 TITLE</h1>
                        <h2>H2 TITLE</h2>
                    </header>
                </article>
                <section class="sticky-nav-scope u-span-2">
                
                    
                <!-- MODULE 1 -->
                 <article>
                    <header>
                        <h2>
                            MOD 1 H2 HEADER
                        </h2>
                    </header>
                </article>

                <!-- MODULE 2 -->
                 <article>
                    <header>
                        <h2>
                            MOD 2 H2 HEADER
                        </h2>
                    </header>
                 </article>

                <!-- MODULE 3 -->
                    <article>
                        <header>
                            <h2>
                                MOD 2 H2 HEADER
                            </h2>
                        </header>
                    </article>
            </section>
        </main>
        <%- include("../partials/footer") %>

    </body>


</html>