<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>

    <body>
        <%- include("../partials/header") %>
            <main class="default-landing-page">
                <!-- HERO -->
                <article class="hero-homepage">
                    <header class="hero__title">
                        <h1>H1 TITLE</h1>
                        <h2>H2 TITLE</h2>
                    </header>
                </article>

                <section class="sticky-nav-scope u-span-2">
                <!-- STICKY NAV -->
                    <nav class="module grid--1 u-span-2 sticky-nav" id="stickyNav">
                            <ul class="sticky-nav__list">
                                <li><a class="sticky-nav__link" href="#overview">Overview</a></li>
                                <li class="sticky-nav__sep ">&bull;</li>
                                <li><a class="sticky-nav__link" href="#traffic-sources">Traffic Sources</a></li>
                                <li class="sticky-nav__sep ">&bull;</li>
                                <li><a class="sticky-nav__link" href="#audience-segments">Audience Segments</a></li>
                                <li class="sticky-nav__sep ">&bull;</li>
                                <li><a class="sticky-nav__link" href="#user-behavior">User Behavior</a></li>
                                <li class="sticky-nav__sep ">&bull;</li>
                                <li><a class="sticky-nav__link" href="#conclusion">Conclusion</a></li>
                            </ul>
                    </nav>
                </section>
                <!-- MODULE 1 -->
                 <article>
                    <header>
                        <h2>
                            MOD 1 H2 HEADER
                        </h2>
                    </header>
                </article>

                <!-- MODULE 2 -->
                 <article>
                    <header>
                        <h2>
                            MOD 2 H2 HEADER
                        </h2>
                    </header>
                 </article>

                <!-- MODULE 3 -->
                    <article>
                        <header>
                            <h2>
                                MOD 2 H2 HEADER
                            </h2>
                        </header>
                    </article>
            </section>
        </main>
        <%- include("../partials/footer") %>

    </body>


</html>