#paragraph p {
    margin: 0;
}

@media (max-width: 767px) {
    #paragraph p {
        margin: 0;
    }
}

#paragraph span {
    padding-bottom: 1.5rem;
    display: block;
}

#paragraph-bottom {
    padding-bottom: 0 !important;
}

#about-me .default-landing-page {
    grid-auto-rows: min-content;
}

#about-hero-cta .hero__button--linkedin-blue {
    color: white;
}

#about-hero-cta {
    padding-top: 1.5rem !important;
    padding-left: var(--module-padding);
    padding-bottom: 3rem;
    margin-top: 0 !important;
}

