#paragraph span {
    padding-bottom: 1.5rem;
    display: block;

}

#paragraph-bottom {
    padding-bottom: 0 !important;
}

#about-me .default-landing-page {
    grid-auto-rows: min-content;
}

#about-hero-cta .hero__button--linkedin-blue {
    color: white;
}