#experience .module__eyebrow {
    color: #ffffff;
    opacity: 100%;
}

#experience .module__subheading {
    color: #ffffff;
}

#experience .module__heading {
    color: #ffffff;
}

@media (min-width: 768px) {
    #technical-skills {
          grid-template-columns: repeat(2, 1fr);
    }

    #technical-skills .module__title {
        grid-column: span 2;
    }
}

#faq h2 {
    margin-bottom: 1.4rem;
}

#impact-highlights h3 {
    font-size: var(--fs-card-heading);
}

#ai-modern-workflow {
    padding-bottom: 1.9rem;
}

#faq .faq__list {
    padding-bottom: 2rem;
}

#technical-skills {
    scroll-margin-top: var(--sticky-header-offset);
}

#technical-skills .card__subheading {
    text-transform: capitalize;
}

.card__subheading {
      letter-spacing: -0.1rem;

}