/* ===== Page Layout & Sections ===== */

.default-landing-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--page-padding);
  gap: 1rem;
}

@media (min-width: 375px) and (max-width: 767px) {
  .default-landing-page {
    margin: var(--page-margin);
  }
}

.grid--1 {
  grid-template-columns: 1fr;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--6 {
  grid-template-columns: repeat(6, 1fr);
}

.column-1 {
  grid-column: 1;
}

.column-2 {
  grid-column: 2;
}

.flex {
  display: flex;
}