/* ===== Page Layout & Sections ===== */

.default-landing-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--page-padding);
  gap: 1rem;
}

@media (min-width: 375px) and (max-width: 767px) {
  .default-landing-page {
    margin: var(--page-margin);
  }
}

.grid {
    display: grid;
}

.grid--1 {
  grid-template-columns: 1fr;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--6 {
  grid-template-columns: repeat(6, 1fr);
}

.column-1 {
  grid-column: 1;
}

.column-2 {
  grid-column: 2;
}

.column-3 {
    grid-column: 3;
}

.flex {
  display: flex;
}

.u-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-left {
    display: flex;
    justify-content: flex-start;
}

.u-flex-right {
    display: flex;
    justify-content: flex-end;
}

.u-flex-baseline {
    display: flex;
    align-items: baseline;
    height: 100%;
}

.u-flex-start {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.u-text-center {
    text-align: center;
}

.u-align-content-start {
    display: flex;
    align-content: flex-start;
}

.u-span-2 {
    grid-column: span 2;
}

.u-span-3 {
    grid-column: span 3;
}

.u-span-6 {
    grid-column: span 6;
}


@media (min-width: 768px) {
    .grid-large-vh {
        
    }

}

