<!-- !FOOTER_START! -->
<footer class="site-footer">
    <div class="site-footer-wrapper">
        <div class="social-media-footer">
            <a href="https://www.linkedin.com/in/nolanyoung" class="linkedin-footer" target="_blank">
                <img src="/img/Linkedin_Logo.svg" class="linkedin-logo" alt="Linkedin Logo" loading="lazy">
            </a>
            <a href="https://github.com/philliephanatic" target="_blank">
                <img src="/img/Github_Logo.svg" class="github-logo" alt="GitHub Logo" loading="lazy">
            </a>
        </div>
        <p class="footer-copy">
            © <%= new Date().getFullYear() %> Nolan Young. This site and all work shown are proudly my own.
        </p>
    </div>
</footer>
<!-- !FOOTER_END! -->
