<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">

<link rel="canonical" href="<%= meta.canonicalPath %>">

<link rel="stylesheet" href="/css/globalstyles.css">
<link rel="stylesheet" href="/css/header-footer.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/components.css">
<link rel="stylesheet" href="/css/modules.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<!-- Favicons -->
<link rel="icon" type="image/svg" sizes="32x32" href="/favicon/favicon-32x32.svg">
<link rel="icon" type="image/svg" sizes="16x16" href="/favicon/favicon-16x16.svg">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.svg">
<link rel="icon" href="/favicon/favicon.ico">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">


