<!-- !HEADER_START! -->
<header class="site-header sticky-nav">
    <div class="logo">
        <a href="/" class="logo-image"><img src="/img/Site_Logo_v2.svg"></a>
    </div>
    <nav class="main-nav">
        <ul class="nav-ul-links">
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/about" class="nav-link">About</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </nav>
    <button class="hamburger-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
</header>

<script src="/js/global-header.js" defer></script>