<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">

<link rel="canonical" href="<%= meta.canonicalPath %>">

<link rel="stylesheet" href="/css/globalstyles.css">
<link rel="stylesheet" href="/css/header-footer.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/components.css">
<link rel="stylesheet" href="/css/modules.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">



